<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
@font-face {
    font-family: 'MiCaligrafia';
    src: url('ruta/de/la/fuente/MiCaligrafia.ttf') format('truetype');
    /* Puedes cambiar 'ruta/de/la/fuente/MiCaligrafia.ttf' por la ruta donde está ubicada tu fuente */
}

footer {
    background-color: black; /* Fondo negro */
    color: white; /* Detalles en azul oscuro */
    padding: 20px; /* Incrementé el padding para más espacio */
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #0f104e; /* Borde superior en un tono más oscuro de azul */
    font-family: 'MiCaligrafia', cursive; /* Usar la fuente personalizada */
}


    </style>
</head>
<body>
    <footer>
        <span>TODOS LOS DERECHOS PARA @Jose Yair Lizarraga Acosta</span>
    </footer>
</body>
</html>