<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    

.container-header{
    font-style: italic;
    background-color: blue; /* Azul oscuro */
    padding: 10px;
    color: white;
    font-family: 'Segoe Script', cursive;
    
}
 .conteiner-header{
    background-color: black;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white; /* Texto blanco */
    font-family: 'Segoe Script', cursive;
    background-color: black;
}

h2 {
    font-size: 20px;
    color: rgb(163, 163, 239); /* Azul oscuro */
    font-family: 'Segoe Script', cursive;
    background-color: black;
}
@font-face {
    font-family: 'Segoe Script';
    src: url('https://fonts.googleapis.com/css2?family=Segoe+Script&display=swap');
    /* Esto carga la fuente 'Segoe Script' desde Google Fonts. Puedes usar otras fuentes y fuentes locales según sea necesario. */
}
body{
    background-color: rgb(163, 163, 239);
    font-family: 'Segoe Script', cursive;
}

    </style>
</head>
<body>
    <center>
        <div class="conteiner-header">
            <br>
            <h1>
                Mis Practicas Node.js
            </h1>
            
            <h2>Jose Yair Lizarraga Acosta</h2>
            <br>
        </div>
    </center>
</body>
</html>