<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .navbar .navbar-brand {
    font-size: 25px !important;
    font-weight: bold !important;
}

    </style>
</head>
<body >
    <nav id="navbar-brand" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/tabla">Tabla</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cotizacion">Cotizacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="alumnos">Alumnos</a>
              </li>
     
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>