<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles-app.css">
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<section>
    <form action="/alumnos" method="post">

        <input type="number" id="matricula" name="matricula" placeholder="Matricula">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required> 
        <input type="text" id="sexo" name="sexo" placeholder="Sexo" required>
        <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>

        <div style="float: right; margin-right: 5.5rem; margin-top: 1rem;">
            <button type="submit">Enviar Informacion</button>
        </div>
    </form>

    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Especialidad</th>
                </tr>
            </thead>
            <tbody>
                <% for(let alumno of reg) { %>
                    <tr>
                        <td><%= alumno.id_alumnos %></td>
                        <td><%= alumno.matricula %></td>
                        <td><%= alumno.nombre %></td>
                        <td><%= alumno.domicilio %></td>
                        <td><%= alumno.sexo %></td>
                        <td><%= alumno.especialidad %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
