<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles-app.css"> <!-- Ruta correcta al archivo CSS -->
    <title>Cotizacion</title>
</head>
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<body> 
    
    <section>
        <div id="formulario">
            <form id="cotizacionForm" action="/cotizacion" method="post">
                <label for="valor">Valor de Automóvil</label>
                <input type="number" name="valor" id="valor" required value="<%= valor %>"><br><br>
                <label for="pinicial">Porcentaje de Pago Inicial</label>
                <input type="number" name="pinicial" id="pinicial" required value="<%= pinicial %>" max="100" min="0"><br><br>
                <label for="plazos">Plazos</label>
                <select name="plazos" id="plazos">
                    <option value="12" <%= plazos == 12 ? 'selected' : '' %>>12 Meses</option>
                    <option value="24" <%= plazos == 24 ? 'selected' : '' %>>24 Meses</option>
                    <option value="36" <%= plazos == 36 ? 'selected' : '' %>>36 Meses</option>
                    <option value="48" <%= plazos == 48 ? 'selected' : '' %>>48 Meses</option>
                    <option value="60" <%= plazos == 60 ? 'selected' : '' %>>60 Meses</option>
                </select>
                <button type="submit">Calcular</button>
                <button type="reset">Limpiar</button> 
            </form>
        </div>
        <% let valorFinal = 0, cuotaMensual = 0; %>
        <% valorFinal = valor - (pinicial / 100) * valor; %>
        <% cuotaMensual = valorFinal / plazos; %>
        <div id="cotizacion">
            <h2>Resultados de la Cotización</h2>
            <% if (!isNaN(valor) && !isNaN(pinicial) && !isNaN(plazos)) { %>
                <p>Valor Final: <span id="valorFinal"><%= parseFloat(valorFinal).toFixed(2) %></span></p> 
                <p>Cuota Mensual: <span id="cuotaMensual"><%= parseFloat(cuotaMensual).toFixed(2) %></span></p>
            <% } %>
        </div>
    </section>
    <%-include('partials/footer.ejs')%>
    <script>
        // Asignar valores iniciales antes de realizar el cálculo
        let pinicial = 10;
        let valor = 100;
        let plazos = 12; // Definir un valor para la variable 'plazos'

        const formulario = document.getElementById('cotizacionForm');

        formulario.addEventListener('reset', function(event) {
            event.preventDefault(); 
            const valorInput = document.getElementById('valor');
            const pinicialInput = document.getElementById('pinicial');
            const plazosSelect = document.getElementById('plazos');
            const valorFinalSpan = document.getElementById('valorFinal');
            const cuotaMensualSpan = document.getElementById('cuotaMensual');

            valorInput.value = '';
            pinicialInput.value = '';
            plazosSelect.selectedIndex = 0;
            valorFinalSpan.innerText = '';
            cuotaMensualSpan.innerText = '';
        });
    </script>
</body>
</html>
