@font-face {
    font-family: 'Segoe Script';
    src: url('https://fonts.googleapis.com/css2?family=Segoe+Script&display=swap');
    /* Esto carga la fuente 'Segoe Script' desde Google Fonts. Puedes usar otras fuentes y fuentes locales según sea necesario. */
}


body {
    font-family: 'Segoe Script', cursive; /* Cambio de tipo de letra a caligrafía */
    background-color: rgb(163, 163, 239); /* Fondo gris claro */
    color: #050505; /* Texto oscuro */
}
form {
    margin-bottom: 20px;
    font-family: 'Segoe Script', cursive;
}

label {
    color:#0f104e;
    font-weight: bold;
    font-family: 'Segoe Script', cursive;
}

input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
    font-family: 'Segoe Script', cursive;
}

input:focus {
    outline: none;
    border-color: #2d31ed; /* Azul oscuro */
}


button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #1a1c8d; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Agregamos transición para la propiedad transform */
}

button:hover {
    background-color: #0f104e; /* Azul oscuro más oscuro */
    transform: scale(1.05); /* Hacer el botón un poco más grande al pasar el cursor sobre él */
}

button:active {
    transform: scale(0.95); /* Hacer el botón un poco más pequeño cuando se le hace clic */
    background-color:#2527bf;
}


section {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Segoe Script', cursive;
    margin: 25px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #1a1c8d; /* Azul oscuro */
    font-family: 'Segoe Script', cursive;
}
form{
    margin: 25px;
}


